form(action="${action}", method="${method}", class="form-horizontal")
    each field in fields
        if (field['type'] == 'checkbox')
            .control-group
                .controls
                    label(for="${field['name']}", class="control-label")
                        input(id=field.get('html_id'), class=field.get('html_class'), type="${field['type']}", name="${field['name']}", value=field.get('value'))
                        ${field['label']}
        else
            .control-group
                if ('label' in field)
                    label(for="${field['name']}", class="control-label") ${field['label']}
                .controls
                    input(id=field.get('html_id'), class=field.get('html_class'), type="${field['type']}", name="${field['name']}", value=field.get('value'))

